<!DOCTYPE html>
<html>
<head>
<title>MaryStore</title>

 <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body style="background-color: #F8E0EC;">
<img src="/caminho/MaryStore.png" class="rounded mx-auto d-block">

<form>
  <div class="form-row" >
    <div class="form-group col-md-4 col-lg-4" >
      <label for="Nome completinho">Nome completo</label> <br>    
      <input type="txt_Nome" class="form-control" id="inputNome50" placeholder="txt_Nome">
    </div>
    <br>
    <div class="form-group col-md-4 col-lg-4">
      <label for="inputEmail4">Email</label>     
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <br>
    <div class="form-group col-md-4 col-lg-4">
      <label for="inputPassword4">Senha</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label for="inputAddress">Endereço</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Rua dos Bobos, nº 0">
  </div>

  <div class="form-group">
    <label for="inputAddress2">Endereço 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Cidade</label>
      <input type="text" class="form-control" id="inputCity">
    </div>

    <div class="form-group col-md-4">
      <label for="inputEstado">Estado</label>
      <select id="inputEstado" class="form-control">
        <option selected>...</option>
        <option selected> Acre (AC) </option>
        <option selected>Alagoas (AL) </option>
        <option selected>Amapá (AP) </option>
        <option selected>Amazonas (AM) </option>
        <option selected>Bahia (BA) </option>
        <option selected>Ceará (CE) </option>
        <option selected>Distrito Federal (DF) </option>
        <option selected>Espírito Santo (ES) </option>
        <option selected>Goiás (GO) </option>
        <option selected>Maranhão (MA) </option>
        <option selected>Mato Grosso (MT) </option>
        <option selected>Mato Grosso do Sul (MS) </option>
        <option selected>Minas Gerais (MG) </option>
        <option selected>Pará (PA) </option>
        <option selected>Paraíba (PB) </option>
        <option selected>Paraná (PR) </option>
        <option selected>Pernambuco (PE) </option>
        <option selected>Piauí (PI) </option>
        <option selected>Rio de Janeiro (RJ) </option>
        <option selected>Rio Grande do Norte (RN) </option>
        <option selected>Rio Grande do Sul (RS) </option>
        <option selected>Rondônia (RO) </option>
        <option selected>Roraima (RR) </option>
        <option selected>Santa Catarina (SC) </option>
        <option selected>São Paulo (SP) </option>
        <option selected>Sergipe (SE) </option>
        <option selected>Tocantins (TO) </option>
              </select>
    </div>
    
    <div class="form-group col-md-2">
      <label for="inputCEP">CEP</label>
      <input type="text" class="form-control" id="inputCEP">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck"><br>
      <label class="form-check-label" for="gridCheck">Manterme conectado </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Criar conta</button>
</form>

  <!---------------------------------------------- Footer------------------------------------------------------------------------>
   <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-50 py-5">
        <div class="mb-10 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
          <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
            
          </a>

          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>

</footer>
<!-- Footer -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>